<table id="myTable" class="tablesorter tablesorter-blue">
	<thead>
	<tr>
		<th> Rank </th>
		<th> Name </th>
		<th> gp </th>
		<% @categories.each do |stat| %>
			<th><%= stat %></th>
		<% end %>
		<th>Score</th>
	</tr>
</thead>
	<% @stats.each_with_index do |player, i| %>
		<tr>
			<td> <%=i+1 %></td>
			<td>
				<%= player["name"] %>
			</td>
			<td>
				<%= player["gp"] %>
			</td>
			<% @categories.each do |stat| %>
				<td>
					<%= player[stat].round(2) %>
				</td>
			<% end %>
			<td>
				<%= player["score"].round(2) %>
			</td>

		</tr>
	<% end %>
</table>
