<table id="myTable" class="tablesorter tablesorter-blue">
	<thead>
	<tr>
		<th> Rank </th>
		<th> Name </th>
		<th> GP </th>
		<th> Positions </th>
		<th> Age </th>
		<% @categories.each do |stat| %>
			<th><%= stat %></th>
		<% end %>
		<th>Score</th>
	</tr>
</thead>
	<% @stats.each_with_index do |player, i| %>
		<tr>
			<td> <%=i+1 %></td>
			<td>
				<%= player["name"] %>
			</td>
			<td>
				<%= player["gp"] %>
			</td>
			<td>
				<%= player["positions"] %>
			</td>
			<td>
				<%= player["birth_date"] %>
			</td>
			<% @categories.each do |stat| %>
				<% if player[stat] < 0.25 %>
				 	<td class="bad_stat"> 
				<% elsif player[stat] < 0.75 %>
					 <td class="ok_stat"> 
				<% else %>
					 <td class="good_stat">
				<% end %>
					<%= player[stat].round(2) %>
				</td>
			<% end %>
			<td>
				<%= player["score"].round(2) %>
			</td>

		</tr>
	<% end %>
</table>
