<%= form_with url: stats_path, method: :get do |f| %>
    <% for category in ["goals", "assists", "points", "shots", "blocks", "hits", "pim", "ppg", "ppa", "ppp", "shg", "sha", "shp", "gwg", "plus_minus", "toi", "fow", "fol", "fot", "gva", "tka"] %>
      <span class="category_input">
        <%= h category %>
      	<%= check_box_tag 'categories[]', category%>
        <%= number_field_tag 'weights[]', nil, step: 0.01 %>
      </span>
    <% end %>
  </br>
    Number of Games
    <%= number_field_tag 'num_games', 82 %>

    <%= f.select :lookup_type, ['Total', 'Average']%>
    <%= f.hidden_field :data1 %>
    <%= f.hidden_field :data2 %>
    <%= f.hidden_field :data3 %>
    <%= f.hidden_field :data4 %>
  <div id="range">
    Age Range: <span id="min-range"></span>-<span id="max-range"></span>
  </div>
  <div id="age_slider"></div>
  <div id="range_2">
    Years In League: <span id="min-years"></span>-<span id="max-years"></span>
  </div>
  <div id="years_slider"></div>

  <div id="positions">
    NHL Positions:
    C
    <%= check_box_tag 'positions[]', 'C'%>
    RW
    <%= check_box_tag 'positions[]', 'RW'%>
    LW
    <%= check_box_tag 'positions[]', 'LW'%>
    D
    <%= check_box_tag 'positions[]', 'D'%>
  </div>
  <div id="yahoo_positions">
    Yahoo Positions:
    C
    <%= check_box_tag 'yahoo_positions[]', 'C'%>
    RW
    <%= check_box_tag 'yahoo_positions[]', 'RW'%>
    LW
    <%= check_box_tag 'yahoo_positions[]', 'LW'%>
    D
    <%= check_box_tag 'yahoo_positions[]', 'D'%>
  </div>
  <%=select("ignore", "player_id", @stats.collect {|p| [ p['name'], p['player_id'] ] }, {}, { multiple: true, class: "chzn-select" })%>
  <div class="actions" id="myBtn">
    <%= f.submit %>
  </div>
<% end %>

<div>
	<%= render 'table' %>
</div>